<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand me-auto" href="#">Blockchain poll</a>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="showForm = !showForm"
  >
    Create poll
  </button>
</nav>
<section class="container bg-light text-center">
  <h1>Poll Rethinks</h1>
  <p class="lead text-muted">Powered by Blockchain</p>
</section>

<app-poll-create *ngIf="showForm"></app-poll-create>

<div class="d-flex">
  <div class="container poll-list">
    <app-poll *ngFor="let poll of polls"
      [question]="poll.question"
      [votes]="poll.votes"
      [voted]="poll.voted"
      [pollImage]="poll.image"
    ></app-poll>
  </div>
  <div class="container pull-details">Details</div>
</div>
